@import "tailwindcss";
.mainhead {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #469962;
  text-shadow: 2px 1px 1px #eeae47;
  text-align: center;
  font-size: clamp(32px, 10vw, 90px);
}
@keyframes flipflop {
  0% {
    transform: rotateY(0deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}
@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromLeftReverse {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromDown {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromUp {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes visibleIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes visibleOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.noscrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.icon {
  cursor: pointer;
}
button:disabled {
  background-color: rgba(128, 128, 128, 0.305);
  transform: scale(0.9);
  transition: all 1s ease;
}
.loader {
  aspect-ratio: 1;
  margin: 1rem;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-top: 4px solid violet;
  border-left: 4px solid indigo;
  border-bottom: 4px solid blue;
  border-right: 4px solid green;
  border-radius: 50%;
  animation: rotate 0.5s linear 0s infinite normal none;
  mix-blend-mode: color;
}
