#root,
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
*{
  box-sizing: border-box;
}
h2{
  font-size: 24px;
  font-weight: bold;
}